input[type=checkbox] {
display: none;
}
input[type=checkbox]:checked{
    background: red;
}

form{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
form .info{
    border-radius: 25px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
    font-size: 1.4rem;
    padding: .5% 1.5%;
    color: rgb(63, 63, 63);
    letter-spacing: 1.5px;
    margin: 1em 0;
}
form .info:hover{
    box-shadow: 0 0 10px #0cffa5;
}

form button{
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: .9%;
    color: rgb(63, 63, 63);
    letter-spacing: 1.5px;
    margin: 1em 0;
    transition: .3s;
    background: rgb(90, 88, 88);
    font-weight: bold;
    color: rgb(235, 229, 229);
}
form button:hover{
    background: #0cff8e;
}
form .interests{
font-size: 2.2rem;
letter-spacing: 1.2px;

}


/* how it works --styling */

.line{
    width: 20rem;
    background-color: white;
  }
  .sub-title{
    font-size: 1.5rem;
    margin-left: 2rem;
  }
  .student{
    width: 20rem;
  }
  .card{
      justify-content: center;
      align-items: center;
    margin-left: 12rem;
display: inline-flex;
  }
  .heading{
  margin-left: 6rem;
  }
  
  /* mobile-view */
  
  @media only screen and (max-device-width: 480px) {
  
    .heading{
      margin-left: 2rem;
      font-size: 2rem;
      }
      .card{
        justify-content: center;
        align-items: center;
      margin-left: 3rem;
  display: inline-flex;
      }
      .line{
        width: 15rem;
        background-color: white;
      }
      .student{
        width: 15rem;
      }
      .sub-title{
        font-size: 1.5rem;
        margin-left: 1rem;
      }
  }
  