input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked {
    background: red;
}

.newsletter__center form {
    flex: .4;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.newsletter__center form .info {
    border-radius: 25px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
    font-size: 1.4rem;
    padding: .5% 1.5%;
    color: rgb(63, 63, 63);
    letter-spacing: 1.5px;
    margin: 1em 0;
}

.newsletter__center form .info:hover {
    box-shadow: 0 0 10px #0cffa5;
}

.newsletter__center form button {
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: .9%;
    color: rgb(63, 63, 63);
    letter-spacing: 1.5px;
    margin: 1em 0;
    transition: .3s;
    background: rgb(90, 88, 88);
    font-weight: bold;
    color: rgb(235, 229, 229);
}

form button:hover {
    background: #0cff8e;
}

form .interests {
    font-size: 2.2rem;
    letter-spacing: 1.2px;
    font-weight: bold;
    color:#404140

}


.newsletter__center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.newsletter__info {
    flex: .4;
}

.newsletter__info__heading {
    font-size: 2.4rem;
    letter-spacing: 1.5px;
    margin-bottom: 10%;
    font-weight: bold;
    color: rgb(67, 68, 68);
}
.newsletter__information{
font-size: 1.3rem;
letter-spacing: 1px;
color: rgb(94, 97, 96);

}
.newsletter__icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.newsletter__icons a{
    display: inline-block !important;
    text-decoration: none;
    transition: .3s;
    color: grey;
    width: 40px;
    height: 40px;

}
.newsletter__icons a:hover{
    color: #0cffa5;
}
.newsletter__icons a .socialmedia{
    width: inherit;
    height: inherit;
}
@media only screen and (max-width: 900px) {
    .newsletter__center form .info{
        font-size: 1.2rem;
    }   
    .newsletter__center form button{
        font-size: 1.2rem;
    }
    form .interests{
        font-size: 1.5rem;
    }
    .newsletter__info__heading {
        font-size: 1.7rem;
    }
    .newsletter__information{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 660px) {

    .newsletter__center{
        flex-direction: column;
        justify-content: center;
        padding: 0 5%;
    }
}
.line{
    width: 90%;
    background-color: white;
  }
  .sub-title{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .student{
    width: 90%;
  }
  .card{
    margin-left: .4rem;
    margin-right: .4rem;
  padding: 1%;
  width: 30%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .heading{
  margin-left: 2rem;
  font-size: 2rem;
  }
  .container-data{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  
  }
  .Box-content{
    display: flex;
    justify-content: space-between;
  
  }
  /* mobile-view */
  
  @media (max-width: 1000px)  {
  
      .line{
        width: 80%;
        background-color: white;
      }
      .Box-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
      }
      .sub-title{
        font-size: 1.7rem;
        
      }
      .card{
        margin-left: 4rem;
        margin-right: 4rem;
      padding: 1%;
      width: 80%;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      }
      .student{
        width: 80%;
      }
      .heading{
        display:flex;
        justify-content: center;
  
      }
      .container-data{
       
        width: 95%;
        
      
      }
  }
  @media (max-width: 650px)  {
    .heading{
      display:flex;
      justify-content: center;
  
    }
    .sub-title{
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .line{
      width: 90%;
      background-color: white;

    }
    .Box-content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
    }
    .card{
      margin-left: 1rem;
      margin-right: 1rem;
    padding: 1%;
    width: 90%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    }
    .student{
      width: 90%;
    }
    .container-data{
       
      width: 95%;
      
    
    }
  }